@page "/admin"
@page "/resumo"
@layout DashboardLayout

<div class=" h-full flex flex-col w-full">
    <div class="  h-[20%] flex space-x-3 justify-center p-4 z-10 ">
        <div
            class=" bg-Primaria w-[200px] rounded-2xl flex flex-wrap flex-col text-center h-[100px] justify-center items-center ">
            <h1 class=" w-full text-Neutra text-3xl">@NumeroTarefas</h1>
            <h1 class="w-full text-Neutra text-2xl">Tarefas</h1>
        </div>
        <div
            class=" bg-Primaria w-[200px] rounded-2xl flex flex-wrap flex-col text-center h-[100px] justify-center items-center ">
            <h1 class=" w-full text-Neutra text-3xl">@NumeroListas</h1>
            <h1 class="w-full text-Neutra text-2xl">Listas de Tarefas</h1>
        </div>
        <div
            class=" bg-Primaria w-[200px] rounded-2xl flex flex-wrap flex-col text-center h-[100px] justify-center items-center ">
            <h1 class=" w-full text-Neutra text-3xl">@NumeroCategoria</h1>
            <h1 class="w-full text-Neutra text-2xl">Categorias</h1>
        </div>
        <div
            class=" bg-Primaria w-[200px] rounded-2xl flex flex-wrap flex-col text-center h-[100px] justify-center items-center ">
            <h1 class=" w-full text-Neutra text-3xl">@NumeroConcluidas</h1>
            <h1 class="w-full text-Neutra text-2xl">Concluidas</h1>
        </div>
    </div>
    <div class=" flex h-[80%] w-full p-2 space-x-3">
        <div class=" w-[100%] shadow-md shadow-Primaria rounded-md p-3 flex-col flex h-full ">
            <h1 class=" font-bold text-Secundaria py-2">Minhas Tarefas</h1>
            <div class=" overflow-y-auto h-[100%]">
                <table class=" table-fixed  w-full ">
                    <thead class=" text-left bg-Intermedia bg-opacity-20">
                    <tr>
                        <th class=" p-2">Tarefa</th>
                        <th colspan="2">Descricao</th>
                        <th >Categoria</th>
                        <th>Lista</th>
                        <th>Concluir</th>
                    </tr>
                    </thead>
                    <tbody class=" ">
                    @foreach (var tarefa in Tarefas)
                    {
                        <tr class=" even:bg-Intermedia even:bg-opacity-5 ">
                            <td class=" p-2">@tarefa.Tarefa</td>
                            <td colspan="2">@tarefa.Descricao</td>
                            <td>@tarefa.Categoria</td>
                            <td>@tarefa.ListaPertencente</td>
                            <td>
                                @if (tarefa.Concluida)
                                {
                                    <input type="radio" disabled checked>
                                }
                                else
                                {
                                    <input type="radio">
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code
{
    public List<ListaTarefaDTO> Tarefas { get; set; }
    int NumeroTarefas = 0, NumeroListas = 0, NumeroCategoria = 0, NumeroConcluidas = 0;

    protected async override Task OnInitializedAsync()
    {
        Tarefas = await api.ListarTarefas();
        if (Tarefas == null)
        {
            Tarefas = new List<ListaTarefaDTO>();
        }
    }

    string SetarEstadoTarefa(bool concluido) => concluido ? "checked" : "";

}